@charset "EUC-KR";
body { 
	background-image:url(http://taling.cdn3.cafe24.com/Content/Uploads/4fcbb49c48dceb6d5cd6476c9c83d2d00cf52b4c.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom right;
	
	
	}
